# Core functionality - changes here should be rare!
/src/app.py                   @crsgthferreira
/src/backend/database.py      @crsgthferreira
/src/backend/routers/auth.py  @crsgthferreira

# The frontend will need refactored soon to be more object oriented.
/src/static/   @crsgthferreira
